@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #3a3a3a;
    margin: 0 auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.hide {
    display: none;
}

/* Line */
.line {
    display: flex;
    justify-content: space-between;
    margin: 10% 0;
}

.lineMedium, .lineSmall, .lineFull {
    height: 2px;
    background-color: #E34646;
}

.lineMedium {
    width: 35%;
}

.lineSmall {
    width: 20%;
}

.lineFull {
    width: 100%;
}

.lineFooter {
    height: 2px;
    background-color: #E34646;
    margin: 20px 0;
    width: 50%;
    max-width: 500px;
    min-width: 50px;
}

/* Header */
.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
}

.headerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 7%;
}

.headerMenu a, .headerMenu span {
    text-decoration: none;
    color: white;
    font-size: clamp(26px, 1.5vw, 32px);
    font-family: "JetBrains Mono", monospace;
    transition: ease-in-out 0.3s all;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.headerMenu span { 
    color: #E34646;
}

.headerMenu img {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: ease-in-out 0.3s all;
}

.headerNav {
    position: fixed;
    top: 0;
    width: 200px;
    height: 100vh;
    right: -200px;
    background-color: #202020ef;
    transition: right 0.3s ease;
    z-index: 1001;
}

.headerNav.show {
    right: 0;
}

.headerNavTop {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97px;
    width: 100%;
}

.headerNavBG {
    background-color: #2e2e2ef5;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.headerNavTop img {
    position: relative;
    z-index: 2;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.headerNavMenu {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    padding-right: 20%;
    height: calc(100vh - 97px); /* Altura total menos a altura do topo */
    overflow-y: scroll; /* Habilitar rolagem vertical */
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;  /* Firefox */
}

.headerNavMenu::-webkit-scrollbar {
    width: 0; /* Retira a barra de rolagem no Webkit (Chrome, Safari) */
}

.headerNavMenu ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
}

.headerNavMenu ul.hide {
    display: none;
}

.headerNavMenu ul li {
    margin: 20px 0;
}

.headerNavMenu ul li a {
    color: #ccc;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: clamp(13px, 1.5vw, 16px);
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}
.headerNavMenuClube:hover::before {
    content: "\3C";
    margin-right: 5px;
    color: #E34646;
}

.headerNavMenu ul li i {
    margin-left: 15px;
    font-size: clamp(16px, 1.5vw, 19px);
    color: #ebebeb;
    -webkit-tap-highlight-color: transparent;
}

.lineMenu {
    width: 50%;
    height: 2px;
    background-color: #5c5c5c7e;
    margin: 50px 0;
}

.headerNavMenuEscudos ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; /* Espaço entre os itens */
    padding: 0;
    margin: 0 auto;
    margin-left: 40%;
}

.headerNavMenuEscudos ul li {
    list-style: none; /* Remover os marcadores de lista */
}

.headerNavMenuEscudos .backButton {
    color: white;
    font-size: 16px;
    margin-left: 10%;
}

.headerNavMenuEscudos img {
    filter: saturate(10%);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1000;
}

#overlay.show {
    opacity: 1;
    visibility: visible;
}

/* Main */
.sectionOne {
    height: 100vh;
    width: 0 auto;
}

.sectionOneContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 60vh;
    margin: 0 auto;
}

.sectionOne h1 {
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-weight: 300;
    text-shadow: 4px 1px 14px rgba(0, 0, 0, 0.55);
    font-size: clamp(30px, 1.5vw, 43px);
}

.sectionOneH1 {
    color: #E34646;
    font-family: "JetBrains Mono", monospace;
    margin-left: 5px;
}

.sectionOneH1::after {
    content: "|";
    opacity: 1;
    margin-left: 2px;
    animation: pisca 0.7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.sectionOneAnimation {
    background-color: white;
    text-align: center;
}

.sectionOneBG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    z-index: -1;
    background-image: url('./assets/imgs/BGFirstHome.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sectionTwo {
    max-width: 60%;
    margin: 0 auto;
}

.sectionTwoTitle {
    margin-bottom: 20px;
}

.sectionTwoContainer p, .sectionTwoContainer span {
    color: white;
    font-family: "IM Fell DW Pica SC", serif;
    font-size: clamp(23px, 1.5vw, 26px);
    font-weight: lighter;
}

.sectionTwoContainer span {
    color: #E34646;
    font-size: clamp(23px, 1.5vw, 26px);
}

.sectionTwoBox {
    display: flex;
}

.sectionTwoBox .sectionTwoText {
    text-align: justify;
    font-family: "Inter", sans-serif;
    font-size: clamp(14px, 1.5vw, 18px);
    padding-right: 10%;
}

.sectionTwoAuthor {
    display: flex;
    flex-direction: column;
}

.sectionTwoAuthor img {
    width: 100%;
    min-width: 232px;
    height: auto;
    cursor: pointer;
    transition: ease-in-out 0.3s all;
}

.sectionTwoAuthor p {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: clamp(9px, 1.5vw, 11px);
    font-weight: 200;
    text-align: right;
    margin-top: 10px;
}

.sectionTwoAuthor span {
    font-family: "Inter", sans-serif;
    color: #E34646;
    font-size: 11px;
    font-size: clamp(9px, 1.5vw, 11px);
    font-weight: 200;
}

.sectionThree {
    max-width: 60%;
    margin: 0 auto;
}

.sectionThreeTitle {
    text-align: center;
    margin-bottom: 20px;
}

.sectionThreeContainer p, .sectionThreeContainer span {
    color: white;
    font-family: "IM Fell DW Pica SC", serif;
    font-size: clamp(23px, 1.5vw, 26px);
    font-weight: lighter;
}

.sectionThreeContainer span {
    color: #E34646;
    font-size: clamp(23px, 1.5vw, 26px);
}

.sectionThreeBox {
    display: flex;
}

.sectionThreeTeam img {
    width: 100%; /* Faz com que a imagem ocupe toda a largura do contêiner */
    min-width: 260px; /* Limita a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
    cursor: pointer;
    transition: ease-in-out 0.3s all;
}

.sectionThreeTeam p {
    font-family: "Inter", sans-serif;
    color: white;
    font-size: clamp(9px, 1.5vw, 11px);
    font-weight: 200;
    text-align: left;
    margin-top: 10px;
}

.sectionThreeTexts p {
    text-align: justify;
    font-family: "Inter", sans-serif;
    font-size: clamp(14px, 1.5vw, 18px);
    padding-left: 10%;
}

.sectionThreeTeam span {
    font-family: "Inter", sans-serif;
    color: #E34646;
    font-size: clamp(9px, 1.5vw, 11px);
    font-weight: 200;
}

.sectionThreeText {
    margin-bottom: 12px;
}

.sectionThreeTexts2 {
    margin-top: 20px;
}

.sectionThreeTexts2 p {
    text-align: justify;
    font-family: "Inter", sans-serif;
    font-size: clamp(14px, 1.5vw, 18px);
}

.sectionFour {
    max-width: 60%;
    margin: 0 auto;
}

.sectionFourTitle {
    text-align: center;
    margin-bottom: 20px;
}

.sectionFourContainer p {
    color: white;
    font-family: "IM Fell DW Pica SC", serif;
    font-size: clamp(23px, 1.5vw, 26px);
    font-weight: lighter;
}

.sectionFourBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionFourCarousel {
    display: flex;
}

.boxTeste{
    width: 200px;
    height: 200px;
    background-color: white;
    margin: 5px;
}

.mainBG {
    background-image: url('./assets/imgs/BGMain.png'); /* Caminho para sua imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o elemento */
    background-position: center; /* Centraliza horizontal e verticalmente */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

.sectionFinal {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-image: url('./assets/imgs/BGFinalHome.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center; /* Centralizar verticalmente */
}

.sectionFinalContainer {
    position: relative;
    max-width: 60%;
    width: 100%;
}

.sectionFinalBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 10% 0; */
}

.sectionFinalTitle {
    text-align: center;
    margin-bottom: 40px;
    color: white;
    font-family: "IM Fell DW Pica SC", serif;
    font-size: clamp(23px, 1.5vw, 26px);
    font-weight: lighter;
}

.sectionFinalTitle span {
    color: #E34646;
    font-family: "IM Fell DW Pica SC", serif;
    font-size: clamp(23px, 1.5vw, 26px);
}

.sectionFinalIcons {
    display: flex;
    margin: 150px 0;
    align-items: center;
    justify-content: space-around;
}

.sectionFinalIcons a{
    margin: 0 3vw;
    -webkit-tap-highlight-color: transparent;
}

.sectionFinalIcons a img {
    width: 62px;
    height: auto;
    filter: saturate(10%);
    -webkit-tap-highlight-color: transparent;
}

.sectionFinalText {
    font-family: "Inter", sans-serif;
    color: white;
    text-align: center;
    font-size: clamp(14px, 1.5vw, 18px);
    font-weight: 200;
    text-shadow: 4px 1px 14px rgb(0, 0, 0);
}

.footerContainer {
    width: 100%;
    height: 150px;
    background-color: #262626;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerIcons {
    display: flex;
    flex-direction: row;
}


.footerIcons .icon {
    width: clamp(25px, 2vw, 30px);
    height: auto;
    margin: 0 1.5vw;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
    

.footerText {
    color: white;
    font-size: clamp(9px, 1.5vw, 11px);
    font-family: "JetBrains Mono", monospace;
    font-weight: lighter;
}

/* Media Queries */
@media (hover:hover) and (pointer:fine) {
    .headerNavMenu ul li a:hover {
        color: #ebebeb;
    }

    .headerMenu a:hover,
    .headerMenu img:hover {
        transform: scale(1.1);
    }

    .headerNavMenuEscudos img:hover {
        filter: saturate(100%);
        scale: 1.1;
    }

    .sectionTwoAuthor img:hover {
        scale: 1.02;
    }

    .sectionThreeTeam img:hover {
        scale: 1.02;
    }

    .sectionFinalIcons a img:hover {
        filter: saturate(90%);
        scale: 1.1;
    }

    .footerIcons img:hover{
        scale: 1.1;
    }
}

@media only screen and (max-width: 1024px) {
    /* .lineFooter {
        width: 40%;
    } */

    .sectionOne h1 {
        font-size: clamp(22px, 1.5vw, 35px);
    }

    .sectionTwo {
        max-width: 85%;
    }

    .sectionThree {
        max-width: 85%;
    }

    .sectionFour {
        max-width: 85%;
    }

    .sectionFinalContainer {
        max-width: 85%;
    }

    .sectionFinalIcons a{
        margin: 0 4vw;
    }
}

@media only screen and (max-width: 768px) {
    .headerContainer {
        height: 100px;
    }

    .headerNav {
        width: 50vw;
        right: -50vw;
    }

    .headerMenu img {
        width: 34px;
        height: 24px;
    }

    .sectionOneContainer {
        flex-direction: column;
        justify-content: center;
        height: 80vh;
    }

    .sectionOne h1 {
        text-align: center;
        margin-left: 5px;
        font-size: clamp(19px, 1.5vw, 32px);
    }

    .sectionOneAnimation {
        margin-top: 180px;
    }

    .sectionTwo {
        max-width: 80%;
    }

    .sectionTwoTitle {
        text-align: center;
    }
    
    .sectionTwoBox {
        flex-direction: column-reverse;
    }

    .sectionTwoBox .sectionTwoText{
        padding-right: 0;
    }

    .sectionTwoAuthor {
        align-items: center;
    }

    .sectionTwoAuthor img {
        min-width: 100px;
        max-width: 100px;
    }

    .sectionTwoAuthor p, .sectionTwoAuthor span {
        margin-bottom: 20px;
    }

    .sectionThree {
        max-width: 80%;
    }

    .sectionThreeTitle {
        text-align: start;
    }

    .sectionThreeBox {
        flex-direction: column-reverse;
        align-items: center;
    }

    .sectionThreeTeam {
        margin: 20px 0;
    }

    .sectionThreeBox img {
        min-width: 100px;
        max-width: 190px;
    }

    .sectionThreeTexts p, .sectionThreeTexts2 p{
        padding-left: 0;
    }

    .sectionFour {
        max-width: 80%;
    }

    .sectionFinalContainer {
        max-width: 80%;
    }

    .sectionFinalIcons {
        flex-direction: column;
        margin: 100px 0;
    }

    .sectionFinalIcons a{
        margin: 5vw 0;
    }

    .sectionFinalIcons a img {
        width: 44px;
    }    
}

@media only screen and (max-width: 345px) {
    .sectionOne h1 {
        margin-left: 5px;
    }
}

@media screen and (max-width: 240px) {
    .headerNav {
        width: 70vw;
        right: -70vw;
    }

    .headerMenu a, .headerMenu span {
        font-size: 18px;
    }

    .headerMenu img {
        width: 18px; /* Reduzindo o tamanho do ícone do menu */
        height: auto;
    }
}

@media screen and (max-width: 160px) {
    .headerNavMenu ul li i {
        display: none;
    }
}