@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #3a3a3a;
    margin: 0 auto;
}

/* Line */
.line {
    display: flex;
    justify-content: space-between;
    margin: 10% 0;
}

.lineLeft {
    width: 50%;
    height: 2px;
    background-color: #E34646;
}

.lineRight {
    width: 20%;
    height: 2px;
    background-color: #E34646;
}

.lineFull {
    width: 100%;
    height: 2px;
    background-color: #E34646;
}

/* Header */
.headerNav {
    position: absolute;
    top: -230px; /* Escondido por padrão */
    right: 0;
    background-color: #3a3a3a;
    opacity: 0.9; /* Alterado para 0.9 para manter consistência */
    width: 100%;
    height: 230px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: top 0.3s ease-in-out; /* Animação para o deslizamento */
}

.headerNav.show {
    top: 0; /* Mostra o menu */
}

.headerNav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 90px;
}

.headerNav ul li {
    list-style: none;
    margin: 0 35px;
}

.headerNav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "JetBrains Mono", monospace;
    font-weight: 200;
    transition: color 0.3s ease-in-out;
    -webkit-tap-highlight-color: transparent;
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    z-index: 3;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 7%;
    z-index: 2;
}

.menu img {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.menu a, .menu span {
    text-decoration: none;
    color: white;
    font-size: 32px;
    font-family: "JetBrains Mono", monospace;
    transition: ease-in-out 0.3s all;
}

.menu span {
    color: #E34646;
    font-size: 32px;
}

/* Main */
main .mainContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 60%;
    margin: 0 auto;
    margin-top: 200px;
    height: 150px;
}

.mainContainer h1{
    color: white;
    font-family: "JetBrains Mono", monospace;
    font-weight: 300;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
}

.mainAnimation{
    background-color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

.mainBG {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('./assets/imgs/mainBG.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Section */
section .sectionContainer{
    max-width: 60%;
    margin: 0 auto;
    margin-top: 30%;
}

.sectionHistory p{
    color: white;
    font-family: "IM Fell DW Pica SC", serif;
    font-size: 26px;
    font-weight: lighter;
    margin-bottom: 22px;
}

.sectionHistory span{
    color: #E34646;
    font-family: "IM Fell DW Pica SC", serif;
    font-size: 26px;
    font-weight: lighter;
}

.sectionBox{
    display: flex;
}

.sectionBox .sectionText{
    text-align: justify;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    padding-right: 10%;
}

.sectionAuthor{
    display: flex;
    flex-direction: column;
}

.sectionAuthor img{
    width: 232px;
    height: auto;
}

.sectionAuthor p{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 200;
    text-align: right;
    margin-top: 10px;
}

.sectionAuthor span{
    font-family: "Inter", sans-serif;
    color: #E34646;
    font-size: 16px;
    font-weight: 200;
}

/* Medias querry */

@media (hover:hover) and (pointer:fine) {
    .headerNav ul li a:hover {
        color: #E34646;
        -webkit-tap-highlight-color: transparent;
    }
    .menu a:hover{
        scale: 1.1;
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {
    /* Header */
    .headerNav{
        height: 190px;
    }

    .headerNav ul {
        /* flex-direction: column;
        text-align: center; */
        margin-top: 80px;
    }

    .headerNav ul li {
        margin: 0 15px;
    }

    .headerNav ul li a {
        font-size: 12px;
    }

    .headerContainer{
        height: 100px;
    }
    /* Menu */
    .menu a, .menu span {
        font-size: 26px;
    }
    .menu img {
        width: 34px;
        height: 24px;
    }
    /* Main */
    main .mainContainer{
        flex-direction: column;
        margin-top: 210px;
        margin-bottom: 597px;
    }
    .mainContainer h1{
        font-size: 23px;
    }

    .mainAnimation {
        margin-top: 150px;
    }

    /* Section */
    section .sectionContainer{
        max-width: 80%;
        margin-top: -30%;
    }

    .sectionHistory p, .sectionHistory span{
        font-size: 23px;
        text-align: center;
    }

    .sectionBox{
        flex-direction: column-reverse;
    }

    .sectionBox .sectionText{
        font-size: 14px;
        padding-right: 0%;
    }

    .sectionAuthor{
        display: flex;
        align-items: center;
    }

    .sectionAuthor img{
        width: 116px;
        height: auto;
    }
    
    .sectionAuthor p, .sectionAuthor span{
        font-size: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    /* Header */
    /* Section */
    section .sectionContainer{
        max-width: 85%;
    }

    .sectionAuthor img{
        width: 174px;
        height: auto;
    }
    
    .sectionAuthor p, .sectionAuthor span{
        font-size: 14px;
    }
}